<!-- 
<section id="body">
    <div class="left">
        <div routerLink="/" class="active">Home</div>
        <div routerLink="/movies">Movies</div>
        <div routerLink="/actors">Actors</div>
    </div>
    <div class="right">
        <img src="assets/images/interview.svg" alt="welcome"/>
        <div class="title">Welcome!</div>
    </div>
</section> 
-->

<div class="home">
    <div class="img">
        <img src="assets/images/interview.svg" alt="welcome"/>
    </div>
    <div class="title">Welcome!</div>
</div>
